.chat
  .header
    .left-header
      .title
        = @group.name
      .members
        Member：
        %li.__members__member
          - @group.users.each do |user|
            =user.name
    .right-header
      = link_to edit_group_path(@group) do
        Edit
  .messages
    = render @messages
  .form
    .new_message
      .input-box
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .form-mask
            = f.label :image, class: 'form-mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'form-mask__image__file'
          = f.submit 'Send', class: 'submit-btn'